html {
    scroll-behavior: smooth;
}

:root {
    /* Navbar Designs */
    --navbar-head-color: rgb(0, 128, 213);
    --navbar-head-height: 50px;
    --navbar-head-logo-width: 40px;
    --navbar-head-logo-margin: 5px 0 5px 20px;

    /* General Designs */

    /* Animation Data */
    --navbar-head-menu-color: rgb(163, 218, 255);
    --navbar-head-menu-active: rgb(0, 255, 255);
    --navbar-menu-open-hover: rgb(65, 179, 255);
}

body {
    background-color: rgb(0, 4, 19);
    margin: 0;
}

/* Header Navigation Bar */
.navbar {
    color: white;
}

.navheader {
    position: fixed;
    background-color: var(--navbar-head-color);
    height: var(--navbar-head-height);
    font-size: 20px;
    width: 1000vw;
    z-index: 1;
}

.navheader>img {
    width: var(--navbar-head-logo-width);
    margin: var(--navbar-head-logo-margin);
}

.navheader>h1 {
    position: relative;
    margin-top: -50px;
    margin-left: 70px;
    font-family: "Lucida Handwriting", cursive;
}

.navbar>.navbar-menu {
    display: none;
    position: relative;
    z-index: 3;
}

.navbar-menu>p {
    transition: 0.3s;
    font-size: 21px;
}

/* Navbar menu for mobile */
.navbar-menu-button-container {
    display: flex;
    justify-content: end;
    position: relative;
    z-index: 1;
}

.navbar-menu-button {
    display: none;
}

.navbar-menu-button:hover {
    background-color: var(--navbar-menu-hover);
}

.navbar-menu-button>div {
    border: 1px solid white;
    width: 40px;
}

.navbar-menu-open-placeholder {
    display: flex;
    justify-content: end;
    z-index: 1;
    position: relative;
}

.navbar-menu-open {
    display: none;
}

.navbar-menu-open>div {
    text-align: center;
    background-color: black;
    margin: 0;
    transition: 0.3s;
    font-size: 10px;
}



/* === Homepage === */
/* #homepage {
    background-color: red;
} */

#home-container {
    width: 90vw;
    margin: auto;
}

#home-container>img {
    width: 100px;
    border-radius: 100%;
    position: relative;
    margin-left: -10px;
    margin-top: 10px;
}

.home-text {
    position: relative;
    margin-left: 100px;
    top: 80px;
}

.home-text>h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    bottom: 190px;
}

.homepage-line {
    border: 2px dotted white;
    position: relative;
    bottom: 190px;
}

.player-short-desc {
    position: relative;
    bottom: 80px;
    background-color: rgb(0, 60, 112);
    color: white;
    font-size: 15px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 10px;
    margin: auto;
}



/* Animations */
.navbar-menu>p:hover {
    color: var(--navbar-head-menu-color);
}

.navbar-menu-open>div:hover {
    background-color: var(--navbar-menu-open-hover);
}

#navbar-head-menu-active {
    color: var(--navbar-head-menu-active);
}






/* Small */
@media screen and (min-width: 320px) {

    .navbar-menu-button {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        border-radius: 10%;
        position: fixed;
        width: 60px;
        height: 40px;
        right: 10px;
        top: 4px;
        transition: 0.5s;
    }

    .navbar-menu-open {
        position: fixed;
        display: none;
        flex-direction: column;
        top: 50px;
        background-color: black;
        border: 1px solid white;
        width: 150px;
    }
}

@media screen and (min-width: 600px) {
    body {}

    
}

/* Medium */
@media screen and (min-width: 426px) {
    body {}

    .navbar-menu-open>div {
        font-size: 18px;
    }

    .navbar-menu-open {
        width: 220px;
    }
}

/* Large */
@media screen and (min-width: 769px) {
    body {}

    .navbar>.navbar-menu {
        right: 5px;
        top: -5px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
    }

    .navbar-menu-button {
        display: none;
    }

    #home-container>img {
        width: 200px;
        border-radius: 100%;
        position: relative;
        margin-top: 30px;
    }

    .home-text {
        position: relative;
        margin-left: 220px;
        top: -10px;
    }

    .home-text>h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        position: relative;
        bottom: 190px;
    }

    .homepage-line {
        border: 2px dotted white;
        position: relative;
        bottom: 190px;
    }

    .player-short-desc {
        position: relative;
        bottom: 170px;
        background-color: rgb(0, 60, 112);
        color: white;
        font-size: 23px;
        font-style: italic;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        padding: 50px;
        margin: auto;
    }

    /* .navbar-menu-open {
        display: none;
    } */
}